body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color:rgb(255, 255, 255);
    border-top: 10px solid ;
    background: rgb(43, 42, 42);
}
h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
    margin: 0;
}

p {
    line-height: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#Sopranos {
    border-top: 8px solid rgb(255, 255, 255);
    padding: 100px;
}

#Breaking {
    padding: 100px;
}

table {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
}
section {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium
}

ul {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
}
#About {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 10px solid rgb(0, 0, 0);
}
#Contact {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    padding-top: 30px;
    border-bottom: 10px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}